.post{
    background-color: white;
    width: 900px;
    margin: 20px auto 0;
    border-radius: 10px;
    position: relative;
    padding-bottom: 40px;
}
.markdown{
    width: 900px;
    margin: 0 auto;
}
.img{
    width: 900px;
    display: block;
    margin: 0 auto;
    border-radius: 10px 10px 0 0 ; 
}
.inputs{
    width: 880px;
    height: 30px;
    padding: 10px;
    display: block;
    margin: 20px auto 5px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.delete{
    margin-top: 15px;
    margin-left: 10px;
    padding: 4px 9px;
    border: 1px solid white;
    background-color: rgb(228, 0, 0);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.delete:hover{
    background-color: rgb(240, 0, 0)
}
.picture{
    margin-top: 15px;
    margin-left: 10px;
    padding: 4px 9px;
    border: 1px solid white;
    background-color: blue;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.picture:hover{
    opacity: 0.8;
}
.submit{
    border: 1px solid white;
    background-color: blue;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 9px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.submit:hover{
    opacity: 0.8;
}

@media (max-width: 991px){
    .post{
        width: 750px;
    }

    .img{
        width: 750px;
    }

    .inputs{
        width: 730px;
    }
    .markdown{
        width: 730px;
    }
}

@media (max-width: 768px){
    .post{
        width: 600px;
    }

    .img{
        width: 600px; 
    }

    .inputs{
        width: 580px;
    }
    .markdown{
        width: 580px;
    }
}
@media (max-width: 600px){
    .post{
        width: 500px;
    }
    .img{
        width: 500px;
    }
    .inputs{
        width: 480px;
    }
    .markdown{
        width: 480px;
    }
}

@media (max-width: 480px){
    .post{
        width: 380px;
    }

    .img{
        width: 380px;
    }

    .inputs{
        width: 360px;
    }
    .markdown{
        width: 360px;
    }
}
@media (max-width: 320px){
    .post{
        width: 300px;
    }

    .img{
        width: 300px; 
    }

    .inputs{
        width: 280px;
    }
    .markdown{
        width: 280px;
    }
}