.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    margin: 0 auto 100px;
}

@media (min-width: 769px) and (max-width: 991px){
    .loader{
        margin-left: 335px;
    }
}
@media (min-width: 992px){
    .loader{
        margin-left: 320px;
    }
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 