.container{
    width: 1200px;
    margin: 0 auto;
}
.category{
    display: flex;
    margin-left: 80px;
}
.categoryItem{
    cursor: pointer;
    margin: 10px 10px 20px 0;
    padding: 1px 2px;
    width: auto;
    border: 1px solid rgb(245, 245, 245);
}
.categoryItem:hover{
    color:rgb(25, 25, 250);
    border-bottom: 1px solid rgb(25, 25, 250);
    border-radius: 5px;
}
.content{
    display: flex;
    justify-content: center;
}
.posts{
    width: 750px;
    margin-right: 48px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.postItem{
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}
.tags{
    width: 226px;
    height: 330px;
    background-color: #ffffff;
    padding: 12px;
    overflow-y: auto;
}
.tagH2{
    font-size: 24px;
    color: rgb(49, 49, 49);
    margin-bottom: 10px;
}
.tag{
    display: block;
    font-size: 20px;
    color: rgb(92, 92, 92);
    cursor: pointer;
    margin-bottom: 5px;
}
.tag:hover{
    color: #000000;
}
.more{
    color: gray;
    border: none;
    background-color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}
.img{
    display: block; 
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
}
.info{
    display: flex;
    padding-top: 10px;
}
.person{
    font-size: 30px;
    margin-left: 20px;
    color: gray;
}
.name{
    font-size: 18px;
    margin: 0;
    margin-left: 5px;
    color: #000000;
    text-decoration: none;
}
.name:hover{
    opacity: 0.8;
}
.title{
    margin: 5px 0 10px 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    display: block;
}
.tagItem{
    display: inline;
    margin-right: 7px;
    margin-left: 5px;
}
.icons{
    display: flex;
    margin-left: 5px;
}
.iconItem{
    align-items: center;
    margin: 10px 15px 10px 0;
}