.containText{
    text-align: center;
    color: white;
    width: 302px;
    height: 40px;
    background-color: black;
    margin: 0 auto;
    border-radius: 10px 10px 0 0; 
    justify-content: center; 
    line-height: 40px;
}
.form{
    border: 1px solid black;
    width: 300px;
    height: 250px;
    margin: 0 auto;
    border-radius: 0 0 8px 8px;
}
.input{
    display: block;
    margin: 20px auto 10px;
    outline: none;
    width: 200px;
    padding: 2px;
}
.submit{
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    font-family: 'Courier New', Courier, monospace;  
    border-bottom: 1px solid white;
    background-color:rgb(87, 87, 209);
    cursor: pointer;
    transition: all 0.3s;
    font-size: 17px;
    border-radius: 2px;
    margin: 30px auto 15px;
    display: block;  
    border-radius: 8px; 
}
.submit:hover{
    background-color:  rgb(44, 44, 187);
}
.account{
    color: black;
    transition: all 0.3s;
    border-bottom: 1px solid rgb(240, 240, 240);;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    display: block;
    width: 90px;
    margin: 0 auto;
}
.account:hover{
    border-bottom: 1px solid rgb(87, 87, 209);
    color: rgb(44, 44, 187);
    border-radius: 5px;
}
.auth{
    padding-top: 50px;
}
.errors{
    font-size: 11px;
    color: red;
    text-align: center;
}
.icon{
    color: red;
    position: absolute;
    top: 2px;
    right: 0;
}
.label{
    position: relative; 
    display: block;
    width: 207px;
    margin: 0 auto;
}
@media (max-width: 480px){
  .form{
    width: 300px;
    height: 250px;
    margin-left: 50px;
  }
  .containText{
    margin-left: 50px;
  }
}