.container{
    width: 1200px;
    margin: 0 auto;
}
.category{
    display: flex;
    margin-left: 80px;
}
.categoryItem{
    cursor: pointer;
    margin: 10px 10px 20px 0;
    padding: 1px 2px;
    width: auto;
    border: 1px solid rgb(245, 245, 245);
}
.categoryItem:hover{
    color:rgb(25, 25, 250);
    border-bottom: 1px solid rgb(25, 25, 250);
    border-radius: 5px;
}
.content{
    display: flex;
    justify-content: center;
}
.posts{
    width: 750px;
    margin-right: 48px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}
.postItem{
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  animation: mymove 1.7s normal;
}

.tags{
  width: 226px;
  height: 330px;
  background-color: #ffffff;
  padding: 12px;
  overflow-y: auto;
  animation: Atags 1.7s normal;
}
.tagH2{
    font-size: 24px;
    color: rgb(49, 49, 49);
    margin-bottom: 10px;
}
.tag{
    display: block;
    font-size: 20px;
    color: rgb(92, 92, 92);
    cursor: pointer;
    margin-bottom: 5px;
}
.tag:hover{
    color: #000000;
}
.more{
    color: gray;
    border: none;
    background-color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}
.img{
    display: block; 
    margin: 0 auto;
    height: 300px;
    width: 750px;
    border-radius: 10px 10px 0 0;
}
.info{
    display: flex;
    padding-top: 10px;
}
.person{
    font-size: 30px;
    margin-left: 20px;
    color: gray;
}
.name{
    font-size: 18px;
    margin: 0;
    margin-left: 5px;
    color: #000000;
    text-decoration: none;
}
.name:hover{
    color: #292929;
}
.title{
    margin: 5px 0 10px 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    display: block;
}
.title:hover{
    color: rgb(44, 44, 44);
}

.tagItem{
    display: inline;
    margin-right: 7px;
    margin-left: 5px;
}
.icons{
    display: flex;
    margin-left: 5px;
}
.iconItem{
    align-items: center;
    margin: 10px 15px 10px 0;
}


.famouseUsers{
  margin-top: 10px;
  background-color: white;
  padding: 7px 10px;
  border-radius: 5px;
  animation: Atags 1.7s normal;
}
.famouseText{
  font-size: 18px;
  font-weight: bold;
  color: #292929;
}
.famouseProfile{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.profileIcon{
  margin-right: 5px;
}
.famouseItem{
  margin-bottom: 2px;
}
.followers{
  margin-bottom: 5px;
}
.hr{
  height: 1px; 
  background-color: rgb(88, 88, 88);
  width: 95%;
}



@media (max-width: 1200px){
    
    .container{
        width: 1000px;
        margin: 0 auto;
    }
    .category{
        display: flex;
        margin-left: 0;
    }
}
@media (max-width: 991px){
    
    .container{
        width: 900px;
        margin: 0 auto;
    }
    .tags{
        width: 130px;
        height: 330px;
        background-color: #ffffff;
        padding: 12px;
        overflow-y: auto;
        overflow-x:hidden;
    }
    .posts{
        margin-right: 20px;
    }
    .category{
        display: flex;
        margin-left: 50px;
    }
}

@media (max-width: 768px){
    
    .container{
        width: 500px;
        margin: 0 auto;
    }
    .tags{
       display: none;
    }
    .famouseUsers{
      display: none;
    }
    .posts{
        margin-right: 20px;
        width: 440px;
        margin: 0 auto;
    }
    .img{
        width: 440px;
    }
}
@media (max-width: 480px){
    
    .container{
        width: 350px;
        margin: 0 auto;   
    }
    .tags{
       display: none;
    }
    .posts{
        width: 280px;
        /* margin: 0 auto; */
        margin-left: 50px;
    }
    .title{
      width: 195px;
      word-wrap: break-word;
    }
    .category{
      display: flex;
      margin-left: 105px;
    }
    .img{
        width: 280px;
    }
}

@media (max-width: 360px){
    
    .container{
        width: 300px;
        margin: 0 auto;   
    }
    .posts{
        margin-right: 20px;
        width: 330px;
        margin: 0 auto;
    }
    .category{
        display: flex;
        margin-left: 0;
    }
    .img{
        width: 330px;
        
    }
    
}


/*---------------------animation------------------------*/
@keyframes mymove {
  0% {
    position: relative;
    left: -250px;
  }

  80% {
    left: 20px; 
    position: relative;
  }

  100% {
    left: 0px; 
    position: relative;
  }
}

@keyframes Atags {
  0% {
    position: relative;
    right: -150px;
  }

  80% {
    right: 20px; 
    position: relative;
  }

  100% { 
    right: 0px; 
    position: relative;
  }
}


