.container{
  width: 1120px;
  height: 90vh;
  margin: 10px auto 0;
  display: flex;
}
.left{
  width: 270px;
  padding: 10px 5px 5px 10px;
  overflow-y: auto;
  max-height: 90vh;
  direction: rtl;
  overflow-x: hidden;
  border: 1px solid gray;
  border-right: none;
  border-radius: 10px;
  padding: 2px 10px;
}
.chatItem{
  display: flex;
  align-items: center;
  border-bottom: 1px solid saddlebrown;
  padding-bottom: 5px;
  margin-bottom: 10px;
  flex-direction: row-reverse;
  cursor: pointer;
}
.messages{
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  padding: 1px 3px;
}
.profileImg{
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.right{
  width: 100%;
  border: 1px solid gray;
  border-radius: 20px;
}

.friend{
  display: flex;
  margin-left: 15px;
  width: 490px;
}
.me{
  margin-right: 20px;
  width: 500px;
  margin-left: auto;
  text-align: right;
}
.message{
  display: inline-block;
  padding: 4px 8px;
  border-radius: 10px 10px 0 10px;
  text-align: left;
  background-color:rgb(242, 242, 242);
  margin-top: 10px;
}
.messageFriend{
  display: inline-block;
  padding: 4px 8px;
  border-radius: 10px 10px 10px 0;
  text-align: left;
  background-color: rgb(242, 242, 242);
  margin-top: 10px;
}

.chatHead{
  padding: 15px 0 0 0;
  background-color: white;
  border-radius: 20px 20px 0 0;
}
.chatHeadContain{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deleteChat{
  border: none;
  background-color: white;
  margin-right: 10px;
  font-size: 20px;
  color: rgb(195, 2, 2);
  cursor: pointer;
  transition: all 0.5s;
}
.deleteChat:hover{
  color: red;
}
.headName{
  margin-bottom: 15px;
  margin-left: 15px;
  font-size: 18px;
}
.chat{
  width: 100%;
  height: 73vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 0 0 10px 10px;
}
.hr{
  background-color: black;
  height: 1px;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}
.messageBlock{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.inputBlock{
  display: flex;
  position: relative;
}
.file{
  position: absolute;
  right: 15px;
  top: 4px;
  cursor: pointer;
  font-size: 19px;
  color: black;
  font-size: 19px;
}
.messageInput{
  width: 780px;
  height: 25px;
  border-radius: 20px;
  padding: 2px 8px;
  border: none;
  border: 1px solid black;
  outline: none;
  margin-right: 5px;
}
.sendMessage{
  border: none;
  background-color: rgb(245, 245, 245);
  border-radius: 50%;
  margin-left: 10px;
}
.send{
  color: blue;
  font-size: 23px;
  cursor: pointer;
}