body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 245) !important; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.css-1wvake5.ps-collapsed {
    width: 64px !important;
    min-width: 64px !important;
}

@media (max-width: 480px){
  .css-1wvake5.ps-collapsed {
    width: 37px !important;
    min-width: 37px !important;
}
.css-1wvake5{
  width: 120px !important;
  min-width: 120px !important;
}
}