.container{
    width: 1200px;
    margin: 0 auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
    justify-content: center;
}
.item{
    padding: 12px 8px;
    border: 1px solid black;
    height: 135px;
    border-radius: 20px;
    background-color: #ffffff;
    position: relative;
}
.edit{
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.4s;
}
.edit:hover{
    color: rgb(255, 182, 46);
}
.delete{
    position: absolute;
    bottom: 11px;
    right: 11px;
    font-size: 20px;
}
.delete:hover{
    transition: all 0.4s;
    color: rgb(255, 46, 46);
}
.plus{
    font-size: 65px;
    color: rgb(97, 97, 97);
    cursor: pointer;
    transition: all 0.5s;
    margin: 0 auto 15px;
    display: block;
}
.plus:hover{
    color: rgb(5, 202, 5);
}
.hr{
    height: 2px;
    background-color: #dbdbdb;
    width: 860px;
    display: block;
    margin: 10px auto 0;
}
.hr2{
    height: 2px;
    background-color: #dbdbdb;
    width: auto;
    display: block;
    margin: 4px auto 0;
}
.addForm{
    padding: 20px;
    width: 900px;
    height: 600px;
    margin: 20px auto 0;
    background-color: white;
    position: relative;
}
.textarea{
    min-width: 860px;
    min-height: 500px;
    resize: none;
    outline: none;
    padding: 20px;
    font-size: 16px;
    border: none;
    word-wrap: break-word;
}
.title{
    border: none;
    width: 860px;
    height: 30px;
    outline: none;
    padding: 5px 20px;
    display: block;
    font-size: 20px;
    text-decoration: none;
}
.btn{
   width: 85px;
   height: 27px;
   border-radius: 5px;
   border: none;
   color: #ffffff;
   background-color: rgb(87, 87, 209);
   transition: all 0.5s;
   cursor: pointer;
   margin-right: 10px;
}
.btn:hover{
    background-color:  rgb(44, 44, 187);
}
.cancel{
    border: none;
    background-color: white;
    cursor: pointer;
}
.cancel:hover{
    text-decoration: underline;
    color: rgb(87, 87, 209);
}
.right{
    display: block;
    text-align: right;
    margin:  0 5px 0 0;
}
.link{
    text-decoration: none;
    cursor: pointer;
    color: black;
    word-wrap: break-word;
}
.link:hover{
    text-decoration: underline;
}
.modal{
    position: absolute;
    right: 0;
    top: 50px;
    line-height: 15px;
    border: 1px solid rgb(216, 216, 216);
    width: 125px;
    color: green;
    height: 15px;
    padding: 10px;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    z-index: 100;
    border-radius: 12px 2px 2px 12px;
}
.none{
    display: none;
}

@media (max-width: 1200px){
    .container{
        width: 1000px;

    }
}
@media (max-width: 991px){
    .container{
        width: 780px;
    }
    .grid{
        grid-template-columns: repeat(3, 250px);
        gap: 10px;
    }
    .item{
        height: 150px;
    }
    .addForm{
        width: 800px;
    }
    .title{
        width: 760px;
    }
    .textarea{
        min-width: 760px;
        min-height: 500px;
    }
    .hr{
        width: 755px;
    }
}
@media (max-width: 768px){
    .container{
        width: 705px;
    }
    .grid{
        grid-template-columns: repeat(3, 235px);
        gap: 10px;
    }
    .addForm{
        width: 640px;
    }
    .title{
        width: 600px;
    }
    .textarea{
        min-width: 600px;
        min-height: 500px;
    }
    .hr{
        width: 605px;
    }
}
@media (max-width: 600px){
    .container{
        width: 600px;
    }
    .grid{
        grid-template-columns: repeat(3, 180px);
        gap: 10px;
    }
    .item{
        height: 210px;
    }
    .addForm{
        width: 500px;
        height: 510px;
    }
    .title{
        width: 480px;
    }
    .textarea{
        min-width: 480px;
        min-height: 400px;
    }
    .hr{
        width: 465px;
    }
}
@media (max-width: 480px){
    .container{
        width: 400px;
    }
    .grid{
        grid-template-columns: repeat(2, 200px);
        gap: 10px;
    }
    .addForm{
        width: 400px;
        height: 560px;
    }
    .title{
        width: 380px;
    }
    .textarea{
        min-width: 380px;
        min-height: 450px;
    }
    .hr{
        width: 365px;
    }
}
@media (max-width: 420px){
    .container{
        width: 300px;
    }
    .grid{
        grid-template-columns: repeat(1, 220px);
        gap: 10px;
    }
    .addForm{
        width: 400px;
        height: 560px;
    }
    .title{
        width: 380px;
    }
    .textarea{
        min-width: 380px;
        min-height: 450px;
    }
    .hr{
        width: 365px;
    }
}
@media (max-width: 320px){
    .addForm{
        width: 300px;
        height: 560px;
    }
    .title{
        width: 280px;
    }
    .textarea{
        min-width: 280px;
        min-height: 450px;
    }
    .hr{
        width: 265px;
    }
}