.color{
    color: red;
}
.img{
    /* margin: 0 auto;  */
    display: block;
    border-radius: 10px 10px 0 0;
    width: 900px;
    height: 400px;
}
.info{
    display: flex;
    padding-top: 10px;
}
.post{
    margin: 0 auto 20px;
    width: 900px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    animation: Apost 1.4s normal;
    padding-top: 20px;
}
.tagItem{
    display: inline;
    margin-right: 7px;
    margin-left: 5px;
    color: gray;
    cursor: pointer;
}
.tagItem:hover{
    color: #000000;
}
.title{
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    display: block;
}
.text{
    width: 800px;
    margin-top: 8px;
}
.person,.personInput{
    font-size: 30px;
    margin-left: 20px;
    margin-right: 5px;
    color: gray;
}
.icons{
    display: flex;
    margin-left: 5px;
}
.iconItem{
    align-items: center;
    margin: 10px 15px 10px 0;
}
.name{
    font-size: 18px;
    margin: 0;
    text-decoration: none;
    color: #000000;
}
.name:hover{
    opacity: 0.8;
}
.comments{
    width: 900px;
    display: block;
    margin: 0 auto 40px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    animation: Acomments 1.4s normal;
    position: relative;
}
.markdown{
  width: 820px;
}
.warn{
  position: absolute;
  filter: blur(0);
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 20px;
  color: #c51d1d;
}
.commentAdd{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.block{
    font-weight: bold;
    margin-bottom: 20px;
}
.Input{
    width: 770px;
    height: 30px;
    padding: 8px;
    border-radius: 10px 0 10px 0;
    border: 1px solid gray;
    outline: none;
}
.changePost{
    cursor: pointer;
    position: absolute;
    left: -35px;
    top: 20px;
    font-size: 27px;
}
.changePost:hover{
    color: rgb(253, 171, 18);
}
.deletePost{
    cursor: pointer;
    position: absolute;
    right: -35px;
    top: 20px;
    font-size: 27px;
}
.deletePost:hover{
    color: red;
}
.btn{
    width: 85px;
    height: 27px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: rgb(87, 87, 209);
    transition: all 0.5s;
    cursor: pointer;
    display: block;
    margin-right: 20px;
    margin-left: auto;
}
.btn:hover{
    background-color:  rgb(44, 44, 187);
}
.commentItem{
    border-bottom: 1px solid gray;
    padding: 5px 0 10px 0;
    border-radius: 20px;
    margin-bottom: 10px;
    position: relative;
}
.commentPerson{
    display: flex;
    margin-left: 20px;
    
}
.personComment{
    font-size: 20px;
    cursor: pointer;
    color: #000000;
}
.commentName{
    margin-left: 5px;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}
.commentText{
    margin-left: 20px;
}
.delete{
    position: absolute;
    right: 8px;
    bottom: 10px;
    cursor: pointer;
}
.delete:hover{
    color: red;
}
.edit{
    position: absolute;
    right: 30px;
    bottom: 10px;
    cursor: pointer;
}
.edit:hover{
    color: orange;
}
.changeBtns{
    display: flex;
}
.cancel{
    width: 50px;
    height: 27px;
    border-radius: 3px;
    border: none;
    border-bottom: 1px solid white;
    color: #000000;
    background-color: #ffffff;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 55px;
}
.cancel:hover{
    border-bottom: 1px solid blue;
    color: blue;
}
.back{
    width: 50px;
    height: 27px;
    border-radius: 3px;
    border: none;
    border: 1px solid rgb(223, 223, 223);
    color: #000000;
    background-color: #ffffff;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 10px;
    position: absolute;
    right: 10px;
    bottom: 0;
}
.back:hover{
    border-bottom: 1px solid blue;
    color: blue;
}

@media (max-width: 991px){
    .changePost{
        cursor: pointer;
        position: absolute;
        top: -35px;
        left: 0;
        font-size: 27px;
    }
    .deletePost{
        cursor: pointer;
        position: absolute;
        top: -35px;
        right: 0;
        font-size: 27px;
        
    }
    .post{
        margin: 40px auto 20px;
        width: 800px;
    }
    .img{
        width: 800px;
        height: 400px;
    }
    .comments{
        width: 800px;
    }
}
@media (max-width: 768px){
    .post{
        margin: 40px auto 20px;
        width: 600px;
    }
    .img{
        width: 600px;
    }
    .comments{
        width: 600px;
    }
    .warn{
      font-size: 17px;
    }
}
@media (max-width: 480px){
    .post{
        /* margin: 0 auto 20px; */
        width: 300px;
        margin: 0 0 20px 50px;
    }
    .img{
        width:300px;
        height: 200px;
    }
    .comments{
        width: 300px;
        margin: 0 0 0 50px;
    }
    .warn{
      font-size: 13px;
    }
    .title{
      word-break: break-all;
      width: 200px;
    }
    .markdown{
      width: 210px;
    }
    .commentText{
      width: 200px;
      word-break: break-all;
    }
    .personInput{
      /* font-size: 80px; */
      display: none;
    }
}

@keyframes Apost {
  0% {
    position: relative;
    right: -150px;
  }

  100% { 
    right: 0px; 
    position: relative;
  }
}

@keyframes Acomments {
  0% {
    position: relative;
    left: -150px;
  }

  100% { 
    left: 0px; 
    position: relative;
  }
}
