
.contain{
    display: flex;
    /* border: 1px solid red; */
    width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
}
.profile{
    font-size: 100px;
    margin-top: 25px;
}
.change{
    cursor: pointer;
    display: block;
    margin: 5px 0 5px 0;
    border: none;
    border-radius: 3px;
    background-color: #002fff;
    color: #ffffff;
    padding: 3px 8px;
}
.change:hover{
    background-color: #284ef7;
}
.left{
    /* border: 1px solid blue; */
    margin-right: 10px;
    width: 320px;
    height: 250px;
}
.editIcon{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 18px;
  color: rgb(221, 103, 0);
  cursor: pointer;
}
.editIcon:hover{
  color: rgb(255, 119, 0) ;
}
.containProfile{
  text-align: center;
  background-color: white;
  border-radius: 10px;
  height: 250px;
  margin-bottom: 10px;
  word-break:break-all;
  position: relative;
}
.followers{
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 10px;
} 
.follower{
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  text-decoration: none;
}
.right{
  /* border: 1px solid green; */
  border-radius: 10px;
  background-color: white;
  width: 650px;
}
.name{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.editName{
  display: flex;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.editColor{
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.aboutMe{
  display: flex;
  margin-left: 20px;
  margin-bottom: 5px;
}
.aboutMeInput{
 max-width: 500px;
 min-width: 250px;
 min-height: 18px;
 max-height: 400px;
}
.nameInput{
  margin-left: 10px;
  width: 400px;
  padding: 3px 8px;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  border-radius: 5px;
}
.changeBtn{
  display: block;
  margin-left: auto;
  margin-right: 20px;
  background-color: #d37700;
  border: none;
  padding: 6px 15px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
.changeBtn:hover{
  background-color: #ff9100;
}
.follow{
  background-color: #002fff;
  border: none;
  padding: 6px 25px;
  border-radius: 25px;
  border: 1px solid white;
  color: white;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.5s;
}
.follow:hover{
  color: #0127d1;
  background-color: white;
  border: 1px solid #002fff;
}
.unfollow{
  background-color: #ec1111;
  border: none;
  padding: 6px 25px;
  border-radius: 25px;
  color: white;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid white;
  transition: all 0.5s;
}
.unfollow:hover{
  color: #ec1111;
  background-color: white;
  border: 1px solid #ec1111;
}
.message{
  background-color: white;
  border: 1px solid #002fff;
  padding: 6px 25px;
  border-radius: 25px;
  color: #002fff;
  cursor: pointer;
  transition: all 0.5s;
}
.message:hover{
  color: white;
  background-color: #002fff;
  border: 1px solid white;
}
.hr{
  height: 2px; 
  background-color: rgb(245, 245, 245);
  width: 95%;
}
.userInfo{
  padding: 5px 5px 5px 0;
  margin-bottom: 15px;
}
.infoItem{
  margin: 5px 0 5px 20px
}
.title{
  margin-top: 10px;
  margin-bottom: 5px;
}
.tags{
  display: flex;
  margin-bottom: 5px;
}
.tag{
  margin-right: 5px;
  cursor: pointer;
}
.watch{
  margin-right: 10px;
}
.followName{
  margin-left: 5px;
}
.posts{
  max-height: 390px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  overflow-y: auto;
}
.link{
  text-decoration: none;
  color: black;
  font-size: 17px;
}
.link:hover{
  color: black;
}
.post{
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}
.img{
  width: 100px;
  height: 100px;
  border-radius: 25%;
  margin-right: 10px;
} 



@media (max-width: 991px){
    .contain{
        display: flex;
        /* border: 1px solid red; */
        width: 850px;
        margin: 10px auto 0;
        justify-content: center;
    }
    
}

@media (max-width: 768px){
    .contain{
        display: flex;
        /* border: 1px solid red; */
        width: 730px;
        margin: 10px auto 0;
        justify-content: center;
    }
    .posts{
        width: 440px;
    }
}

@media (max-width: 600px){
    .contain{
        display: flex;
        /* border: 1px solid red; */
        width: 540px;
        margin: 10px auto 0;
        justify-content: center;
    }
}

@media (max-width: 480px){
    .contain{
        display: flex;
        /* border: 1px solid red; */
        width: 400px;
        margin: 10px auto 0;
        justify-content: center;
    }
    .posts{
        margin-right: 20px;
        width: 400px;
        margin: 0 auto;
    }
}
@media (max-width: 360px){
    .contain{
        display: flex;
        /* border: 1px solid red; */
        width: 320px;
        margin: 10px auto 0;
        justify-content: center;
    }
    .posts{
        margin-right: 20px;
        width: 330px;
        margin: 0 auto;
    }
}