
.contain{
    display: flex;
    /* border: 1px solid red; */
    width: 1000px;
    margin: 10px auto 0;
}
.profile{
    font-size: 100px;
    margin-top: 25px;
}
.change{
    cursor: pointer;
    display: block;
    margin: 5px 0 5px 0;
    border: none;
    border-radius: 3px;
    background-color: #002fff;
    color: #ffffff;
    padding: 3px 8px;
}
.change:hover{
    background-color: #284ef7;
}
.left{
    /* border: 1px solid blue; */
    margin-right: 10px;
    width: 320px;
    height: 250px;
}
.containProfile{
  text-align: center;
  background-color: white;
  border-radius: 10px;
  height: 250px;
  margin-bottom: 10px;
}
.followers{
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 10px;
} 
.follower{
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}
.right{
  /* border: 1px solid green; */
  border-radius: 10px;
  background-color: white;
  width: 650px;
}
.name{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.follow{
  background-color: #002fff;
  border: none;
  padding: 6px 25px;
  border-radius: 25px;
  color: white;
  margin-right: 15px;
  cursor: pointer;
}
.unfollow{
  background-color: #ff0000;
  border: none;
  padding: 6px 25px;
  border-radius: 25px;
  color: white;
  margin-right: 15px;
  cursor: pointer;
}
.message{
  background-color: white;
  border: 1px solid #002fff;
  padding: 6px 25px;
  border-radius: 25px;
  color: #002fff;
  cursor: pointer;
}
.hr{
  height: 2px; 
  background-color: rgb(245, 245, 245);
  width: 95%;
}
.userInfo{
  padding: 5px 5px 5px 0;
  margin-bottom: 15px;
}
.infoItem{
  margin: 5px 0 5px 20px
}
.infoItem:nth-last-child(-n+3){
  cursor: pointer;
}
.infoItem:nth-last-child(-n+3):hover{
  text-decoration: underline;
}
.title{
  margin-top: 10px;
  margin-bottom: 5px;
}
.tags{
  display: flex;
  margin-bottom: 5px;
}
.tag{
  margin-right: 5px;
  cursor: pointer;
}
.watch{
  margin-right: 10px;
}
.posts{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.post{
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}
.img{
  width: 100px;
  height: 100px;
  border-radius: 25%;
  margin-right: 10px;
} 



@media (max-width: 991px){
    .contain{
        display: flex;
        /* border: 1px solid red; */
        width: 850px;
        margin: 10px auto 0;
        justify-content: center;
    }
    
}

@media (max-width: 768px){
    .contain{
        display: flex;
        /* border: 1px solid red; */
        width: 730px;
        margin: 10px auto 0;
        justify-content: center;
    }
    .posts{
        width: 440px;
    }
}

@media (max-width: 600px){
    .contain{
        display: flex;
        /* border: 1px solid red; */
        width: 540px;
        margin: 10px auto 0;
        justify-content: center;
    }
}

@media (max-width: 480px){
    .contain{
        display: flex;
        /* border: 1px solid red; */
        width: 400px;
        margin: 10px auto 0;
        justify-content: center;
    }
    .posts{
        margin-right: 20px;
        width: 400px;
        margin: 0 auto;
    }
}
@media (max-width: 360px){
    .contain{
        display: flex;
        /* border: 1px solid red; */
        width: 320px;
        margin: 10px auto 0;
        justify-content: center;
    }
    .posts{
        margin-right: 20px;
        width: 330px;
        margin: 0 auto;
    }
}