.item{
    display: flex;
    width: 800px;
    margin: 0 auto 10px;
    border: 1px solid gray;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}
.text{
    margin-left: 15px;
    font-size: 18px;
    max-width: 680px;
    min-width: 680px;
    height: auto;
    word-break: break-all;
}
.icon{
    color: rgb(85, 85, 85);
    margin-right: 6px;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: 19px;
    transition: all 0.2s;
    cursor: pointer;
    user-select: none;
}
.icon:hover{
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(202, 202, 202);
}
.left{
    text-decoration:line-through 2px green;
}
.right{
    display: flex;
    align-items: center;
}
.important{
    color: orange;
    margin-left: 15px;
    font-size: 18px;
    max-width: 680px;
    word-break: break-all;
}
.todo{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.item{
    margin-bottom: 10px;
}
.block{
    position: relative;
    width: 600px;
    margin: 0 auto 20px;
    height: 30px;
}
.input{
    display: block;
    width: 600px;
    height: 30px;
    border-radius: 8px;
    outline: none;
    margin: 0 auto;
    text-align: center;
}
.plus{
    position: absolute;
    top: 9px;
    right: 0;
    color: gray;
}
.plus:hover{
    color: black;
}